html, body {
  width: 100%;
  background-color: $white;
  font-family: $monte-flex;
  font-size: 20px;
}

.wrapper {
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;
}

.flx_row {
  display: flex;
  flex-direction: row;
}

.flx_col {
  display: flex;
  flex-direction: column;
}
