.revolution-section {
  text-align: center;
  margin-top: 6rem;
  padding: 1rem;
  &__headers {
    font-size: 2.52rem;
    color: $dim;
    text-transform: uppercase;
  }
  &__par {
    font-size: 1rem;
    font-family: source-flex, sans-serif;
    margin: $gutter auto;
    max-width: 45rem;
    line-height: 1.6rem;
    color: $dark;
  }
}

.you-get-section {
  margin-top: 3.5rem;
  background-color: $bg_color;
}

.you-get {
  &__block {
    @include flex(row-reverse, space-between);
    margin: 0 auto;
  }
  &__block--headers {
    text-align: center;
    margin-top: 4.2rem;
    margin-right: 1rem;
    font-size: 2.4rem;
    color: $accent;
    float: right;
  }
  &__block--editor {
    height: 100%;
    max-height: 29rem;
    width: 100%;
    max-width: 57rem;
    margin-top: 2.5rem;
    border-radius: .5rem 0 0 .5rem;
    box-shadow: 0 0 25px rgba(0, 5, 5, .3);
    background: $dark url("../src/img/code.png") no-repeat left 8rem top 2rem;
    margin-bottom: -2.5rem;
  }
  &__ul {
    margin: 2.5rem 0 0 1.5rem;
  }
  &__ul--li {
    font-size: .7rem;
    color: $white;
    line-height: 1.5rem;
  }
}

.you-get-content {
  margin-top: 5.4rem;
  margin-bottom: 3.5rem;
  max-width: 24.25rem;
  &__headers {
    font-size: .8rem;
    color: $dark;
    margin-bottom: .9rem;
  }
  &__par {
    font-size: .7rem;
    color: $dim;
    line-height: 1rem;
    margin-bottom: 1.3rem;
  }
}

.comment-section {
  text-align: center;
  margin: 0 auto;
  font-family: source-flex, sans-serif;
  font-size: 1rem;
  max-width: 48rem;
}

.marvel {
  @include flex(row, center, center);
  margin: 4.5rem auto 2.5rem;
  max-width: 15rem;
  text-align: left;
  &__par {
    margin-left: 1rem;
    font-size: 1.2rem;
    line-height: 1.51rem;
    color: $dark;
  }
}

.comment {
  line-height: 1.5rem;
  margin-bottom: 1.25rem;
  &--arrow {
    max-width: 1rem;
    font-size: 1rem;
    margin: 0 2rem;
    color: $dark;
    font-weight: bold;
    opacity: .8;
  }
  &--accent {
    font-size: .8rem;
    color: $accent;
  }
}

.social-block {
  @include flex(row, space-between, center);
  align-content: center;
  margin: 4rem auto 0;
  &__par {
    @include flex(row, center, center);
    padding: .75rem 1.2rem;
    border-radius: .25rem;
  }
  &__par--gh {
    display: flex;
    background: $bg_color url(../src/img/icon/gh.png) no-repeat left 1.2rem center;
    &:hover {
      background-color: $white;
    }
  }
  &__par--tw {
    color: $white;
    display: flex;
    background: $blue url(../src/img/icon/tw.png) no-repeat left 1.2rem center;
    &:hover {
      background-color: $dim_blue;
    }
  }
  &__par--fb {
    color: $white;
    display: flex;
    background: $fb_blue url(../src/img/icon/fb.png) no-repeat left 1.2rem center;
    &:hover {
      background-color: $dim_fb_blue;
    }
  }
  &__par--descr {
    font-size: .7rem;
    color: $dim;
  }
}

.talking-section {
  margin-top: 4rem;
  background: $dim_accent url("../src/img/Layer1.png") no-repeat 100%;
  padding-bottom: 2rem;
  &__headers {
    margin: 3.5rem auto;
    padding: 0 2rem;
    font-size: 2.4rem;
    color: $bg_color;
    line-height: 3rem;
    text-align: center;
    text-transform: capitalize;
  }
}

.talking-block {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  padding: 0 4rem;
  font-family: source-flex, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: $bg_color;
  text-align: center;
  &__par {
    width: 100%;
    max-width: 15rem;
    font-size: .8rem;
    margin-bottom: 5rem;
  }
}

.subscribe-section {
  background: $dim_accent url("../src/img/Layer2.png") no-repeat center center;
  padding-bottom: 2rem;
  text-align: center;
  &__headers {
    margin: 0 auto;
    font-size: 2.4rem;
    color: $bg_color;
    text-align: center;
    text-transform: capitalize;
    border-top: 1px solid rgba(199, 199, 199, .2);
    padding: 4.5rem 3.5rem 0;
  }
  &__par {
    width: 70%;
    margin: 0 auto;
    font-family: source-flex, sans-serif;
    line-height: 1.5rem;
    font-size: .7rem;
    color: $amethyst;
  }
}

.subscribe-block {
  @include flex (row, space-between, center);
  color: $bg_color;
  max-width: 90%;
  margin: 3.5rem auto 4rem;
  &__headers {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 2rem 0;
  }
}

.subscribe-cards {
  margin: .6rem;
  width: 80%;
  max-width: 15rem;
  height: 23rem;
  background-color: rgba(255, 255, 255, .1);
  transition: .5s linear;
  &__headers {
    transition: .5s linear;
    background-color: rgba(255, 255, 255, .2);
    font-size: 1.2rem;
    padding: 2rem 0;
    text-transform: uppercase;
  }
  &__price {
    transition: .5s linear;
    font-size: 3rem;
    margin: 1.8rem auto;
  }
  &__par {
    transition: .5s linear;
    height: 100%;
    max-height: 3.3rem;
    line-height: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-size: .8rem;
    padding: 0 1rem;
  }
  &--accent {
    transition: .5s linear;
    font-size: .7rem;
    opacity: .3;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    border-bottom: .25rem solid $accent;
  }
}

.subscribe-cards:hover {
  margin: .6rem;
  width: 100%;
  max-width: 15rem;
  height: 28rem;
  background-color: rgba(0, 0, 0, .2);
  .subscribe-cards__headers {
    background-color: rgba(0, 0, 0, .3);
  }
  .subscribe-cards__price {
    font-size: 4rem;
  }
  .package_name {
    font-size: 1rem;
    line-height: 2rem;
    max-height: 4rem;
    margin-bottom: 2rem;
  }
  .subscribe-cards__par {
    font-size: 1rem;
  }
  .subscribe-cards__buttons {
    font-size: .8rem;
    padding: .9rem 1.8rem;
    &:hover {
      background-color: rgba(255, 255, 255, .3);
    }
  }
}

.subscribe-form {
  @include flex(row, space-between, center);
  background-color: $bg_color;
  padding: 2rem 3rem;
  &__par {
    color: $dim;
    font-size: 1.2rem;
    text-transform: capitalize;
    width: 100%;
  }
}

.form {
  &__block {
    width: 100%;
    text-align: right;
  }
  &__input {
    max-width: 15rem;
    width: 100%;
    height: 100%;
    max-height: 2rem;
    border: none;
    border-radius: 5rem;
    padding: 0.8rem 1rem;
    margin-right: .5rem;
  }
}

.blog-section {
  @include flex(row, space-between, baseline);
  margin: 3rem auto;
  width: 90%;
}

.blog-block {
  width: 100%;
  max-width: 17rem;
  margin: 0 1rem;
  &__main-headers {
    font-size: 1.4rem;
    color: $amethyst;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
  &__sub-headers {
    font-size: .8rem;
    color: $dark;
    line-height: 1.5rem;
    margin-bottom: .8rem;
  }
  &__par {
    color: $amethyst;;
    font-size: .65rem;
    line-height: 1rem;
    margin-bottom: .5rem;
  }
}

