$accent: #8d81ac;
$dim_accent: #70477e;
$white: #ffffff;
$bg_color: #f4f4f4;
$dim: #635c73;
$dark: #333333;
$gutter: 1.5em;
$blue: #26a6d1;
$dim_blue: #35587b;
$fb_blue: #3B5998;
$dim_fb_blue: #2a406d;
$amethyst: #a291a5;

